# Streamlit for building the web application
streamlit

# OpenCV for image processing
opencv-python==4.5.5.64

# NumPy for numerical operations
numpy

# Matplotlib for plotting (if needed)
matplotlib
