# Streamlit for building the web application
streamlit

# OpenCV for image processing
opencv-python
opencv-contrib-python-headless
# NumPy for numerical operations
numpy

# Matplotlib for plotting (if needed)
matplotlib
