# Streamlit for building the web application
streamlit

# OpenCV for image processing
opencv-python==4.6.0.66

# NumPy for numerical operations
numpy

# Matplotlib for plotting (if needed)
matplotlib
